# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.SimTask.iml
# Datasource local storage ignored files
/../../../../../../../:\[Projects] Game Development\Unity Projects\SimTask\.idea\.idea.SimTask\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
